System_968_2_0/WebSite/App_WebReferences/Service_SystemModule/SystemModule1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54028/SystemModule.svc?xsd=xsd2" namespace="Ac968.SystemModuleSetMeal.Model" />
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Ac968.SystemModuleSetMeal.Model" minOccurs="0" name="ListResult" nillable="true" type="q1:ArrayOfSystemModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:long" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="Ac968.SystemModuleSetMeal.Model" minOccurs="0" name="ListByCompanyResult" nillable="true" type="q2:ArrayOfSystemModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="isDefault" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNeedCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="needCompany" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNeedCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>