System_968_2_0/WebSite/App_WebReferences/Service_PlanAgentLevel/PlanAgentLevel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Ac968.SystemModuleSetMeal.Model" elementFormDefault="qualified" targetNamespace="Ac968.SystemModuleSetMeal.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlanAgentLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanAgentLevel" nillable="true" type="tns:PlanAgentLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanAgentLevel" nillable="true" type="tns:ArrayOfPlanAgentLevel" />
  <xs:complexType name="PlanAgentLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanAgentLevel" nillable="true" type="tns:PlanAgentLevel" />
</xs:schema>