System_968_2_0/WebSite/App_WebReferences/Service_PlanAgentOrder/PlanAgentOrder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Ac968.SystemModuleSetMeal.Model" elementFormDefault="qualified" targetNamespace="Ac968.SystemModuleSetMeal.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlanAgentOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanAgentOrder" nillable="true" type="tns:PlanAgentOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanAgentOrder" nillable="true" type="tns:ArrayOfPlanAgentOrder" />
  <xs:complexType name="PlanAgentOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="RelationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanAgentOrder" nillable="true" type="tns:PlanAgentOrder" />
</xs:schema>