System_968_2_0/WebSite/App_WebReferences/Service_Message/AC968.Web.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AC968.Web.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AC968.Web.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AllowReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsView" type="xs:boolean" />
      <xs:element minOccurs="0" name="RelyInfo" nillable="true" type="tns:ReplyModel" />
      <xs:element minOccurs="0" name="SendId" type="xs:long" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageModel" nillable="true" type="tns:MessageModel" />
  <xs:complexType name="ReplyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReplyModel" nillable="true" type="tns:ReplyModel" />
  <xs:complexType name="ArrayOfMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageModel" nillable="true" type="tns:MessageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageModel" nillable="true" type="tns:ArrayOfMessageModel" />
</xs:schema>