System_968_2_0/WebSite/App_WebReferences/Service_SystemModuleSetMealDetail/SystemModuleSetMealDetail1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Ac968.SystemModuleSetMeal.Model" elementFormDefault="qualified" targetNamespace="Ac968.SystemModuleSetMeal.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_SystemModuleSetMealDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_SystemModuleSetMealDetail" nillable="true" type="tns:V_SystemModuleSetMealDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_SystemModuleSetMealDetail" nillable="true" type="tns:ArrayOfV_SystemModuleSetMealDetail" />
  <xs:complexType name="V_SystemModuleSetMealDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="DescriptionUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedCompany" type="xs:boolean" />
      <xs:element minOccurs="0" name="SystemModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="SystemModuleSetMealId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_SystemModuleSetMealDetail" nillable="true" type="tns:V_SystemModuleSetMealDetail" />
  <xs:complexType name="SystemModuleSetMealDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="SystemModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="SystemModuleSetMealId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemModuleSetMealDetail" nillable="true" type="tns:SystemModuleSetMealDetail" />
</xs:schema>