System_968_2_0/WebSite/App_WebReferences/Service_SystemModuleSetMealValidityLog/SystemModuleSetMealValidityLogBLL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemModuleSetMealValidityLogBLL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54028/SystemModuleSetMealValidityLog.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54028/SystemModuleSetMealValidityLog.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54028/SystemModuleSetMealValidityLog.svc?xsd=xsd2" namespace="Ac968.SystemModuleSetMeal.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemModuleSetMealValidityLog_ListByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ListByCompany" />
  </wsdl:message>
  <wsdl:message name="ISystemModuleSetMealValidityLog_ListByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListByCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemModuleSetMealValidityLog_ListByOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ListByOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemModuleSetMealValidityLog_ListByOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListByOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemModuleSetMealValidityLog_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISystemModuleSetMealValidityLog_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemModuleSetMealValidityLog">
    <wsdl:operation name="ListByCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemModuleSetMealValidityLog/ListByCompany" message="tns:ISystemModuleSetMealValidityLog_ListByCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemModuleSetMealValidityLog/ListByCompanyResponse" message="tns:ISystemModuleSetMealValidityLog_ListByCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListByOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemModuleSetMealValidityLog/ListByOrder" message="tns:ISystemModuleSetMealValidityLog_ListByOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemModuleSetMealValidityLog/ListByOrderResponse" message="tns:ISystemModuleSetMealValidityLog_ListByOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemModuleSetMealValidityLog/Add" message="tns:ISystemModuleSetMealValidityLog_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemModuleSetMealValidityLog/AddResponse" message="tns:ISystemModuleSetMealValidityLog_Add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemModuleSetMealValidityLog" type="tns:ISystemModuleSetMealValidityLog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListByCompany">
      <soap:operation soapAction="http://tempuri.org/ISystemModuleSetMealValidityLog/ListByCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListByOrder">
      <soap:operation soapAction="http://tempuri.org/ISystemModuleSetMealValidityLog/ListByOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ISystemModuleSetMealValidityLog/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemModuleSetMealValidityLogBLL">
    <wsdl:port name="BasicHttpBinding_ISystemModuleSetMealValidityLog" binding="tns:BasicHttpBinding_ISystemModuleSetMealValidityLog">
      <soap:address location="http://localhost:54028/SystemModuleSetMealValidityLog.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>