System_968_2_0/WebSite/App_WebReferences/Service_SystemModuleSetMealValidityLog/SystemModuleSetMealValidityLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54028/SystemModuleSetMealValidityLog.svc?xsd=xsd2" namespace="Ac968.SystemModuleSetMeal.Model" />
  <xs:element name="ListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Ac968.SystemModuleSetMeal.Model" minOccurs="0" name="ListByCompanyResult" nillable="true" type="q1:ArrayOfSystemModuleSetMealValidityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="Ac968.SystemModuleSetMeal.Model" minOccurs="0" name="ListByOrderResult" nillable="true" type="q2:ArrayOfSystemModuleSetMealValidityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="Ac968.SystemModuleSetMeal.Model" minOccurs="0" name="model" nillable="true" type="q3:SystemModuleSetMealValidityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="Ac968.SystemModuleSetMeal.Model" minOccurs="0" name="AddResult" nillable="true" type="q4:SystemModuleSetMealValidityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>