System_968_2_0/WebSite/App_WebReferences/Service_OEMAgent/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Camel.ApiModel" />
  <xs:element name="AgentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Camel.ApiModel" minOccurs="0" name="_PlanAgent" nillable="true" type="q1:PlanAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentInsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentByAgentUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentByAgentUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Camel.ApiModel" minOccurs="0" name="GetAgentByAgentUrlResult" nillable="true" type="q2:PlanAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Camel.ApiModel" minOccurs="0" name="GetDataByAgentIdResult" nillable="true" type="q3:PlanAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentGetByComId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentGetByComIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Camel.ApiModel" minOccurs="0" name="AgentGetByComIdResult" nillable="true" type="q4:PlanAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="iPageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Camel.ApiModel" minOccurs="0" name="AgentGetListResult" nillable="true" type="q5:ArrayOfPlanAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentGetRecCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentGetRecCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentGetRecCountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>